
.wp-block-cloudblocks-content-in-columns {
  $max-cols: 4;

  * {
    box-sizing: border-box;
  }

  .column {
    text-align: center;
    padding: 10px 20px;

    figure {
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .circled img {
      border-radius: 50%;
    }

    &__image img {
      max-width: 100%;
      margin: 5px 0;
    }

    &__description {
      line-height: 1.6;
      color: #000;
      opacity: 0.6;
    }
  }

  // Column layout
  @for $i from 1 through $max-cols {
    &.columns-#{$i} .column {
      @media (min-width: 768px) {
        float: left;
        width: 100% / $i;
      }
    }
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  // Editor overrides
  & > .editor-inner-blocks {
    width: 100%;
    & > .editor-block-list__layout {
      & > .editor-block-list__block {
        margin-left: 0;
        margin-right: 0;
        .column {
          float: none;
          width: 100%;
        }
        & > .editor-block-list__block-edit {
          margin-top: 12px;
        }
      }
    }
  }

  @for $i from 1 through $max-cols {
    &.columns-#{$i} > .editor-inner-blocks > .editor-block-list__layout > .editor-block-list__block {
      float: left;
      width: 100% / $i;
    }
  }
}
