@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 480px) {
    @content;
  }
}

.wp-block-cloudblocks-content-in-columns {
  margin-bottom: 20px;
  box-sizing: border-box;

  .columns-section-header {
    width: 100%;
    text-align: center;

    h2 {
      font-weight: normal;
    }
  }

  .columns {
    @include desktop() {
      display: flex;
    }
  }

  .column {
    @include desktop() {
      flex: 1;
    }
    text-align: center;
    padding: 10px;

    .circled img {
      border-radius: 50%;
    }

    &__image img {
      max-width: 100%;
      margin: 5px 0;
    }

    &__description {
      line-height: 1.6;
      color: #666666;
    }
  }

  // Editor overrides
  .columns > .editor-inner-blocks > .editor-block-list__layout {
    display: flex;
    & > div {
      flex: 1;
    }
  }
}
