
.wp-block-cloudblocks-content-in-columns {
  margin-bottom: 20px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
  }

  .column {
    @media (min-width: 768px) {
      flex: 1;
    }
    text-align: center;
    padding: 10px;

    .circled img {
      border-radius: 50%;
    }

    &__image img {
      max-width: 100%;
      margin: 5px 0;
    }

    &__description {
      line-height: 1.6;
      color: #666666;
    }
  }

  // Editor overrides
  & > .editor-inner-blocks {
    width: 100%;
    & > .editor-block-list__layout {
      display: flex;
      & > .editor-block-list__block {
        flex: 1;
        & > .editor-block-list__block-edit {
          margin-top: 12px !important;
        }
      }
    }
  }
}
